:root {
  --text-V1: black;
  --bg-primary: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-V1: rgb(255, 255, 255);
    --bg-primary: rgb(0, 0, 0);
  }
}

body {
  color: var(--text-V1);
  background: var(--bg-primary);
  background-image: url('../assets/images/profile/profileBg.png') !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

// nav {
//   color: var(--text-V1) !important;
//   background-color: var(--bg-primary) !important;
// }

.bg-radial-red {
  border-radius: 0.4rem;
  background-size: 300% auto;
  box-shadow:
    0 4px 6px rgba(50, 50, 93, 0.11),
    0 1px 3px rgba(0, 0, 0, 0.08);
  background-image: linear-gradient(
    to right,
    #d5072d 0%,
    #f635a9 50%,
    #9e16d4 100%
  );
  transition: 0.6s;

  &:hover {
    background-position: right center;
  }

  animation: bg-flow 10s infinite linear;

  @keyframes bg-flow {
    0% {
      background-position: right center;
    }
    50% {
      background-position: center left;
    }
    100% {
      background-position: right center;
    }
  }
}
