@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

.input-container {
  border-radius: 0.4rem;
  position: relative;
  font-size: 1.2rem;
  input {
    border-radius: 0.4rem;
    background-color: transparent;
    border: 2px solid white;
    transition: all 0.3s;
    padding: 1rem;
    outline: none;
    position: relative;

    &:focus {
      border: 2px solid rgb(0, 124, 128);
    }
    &:not(:placeholder-shown) ~ label,
    &:focus ~ label {
      top: 0;
      left: 10px;
      padding: 0 2px;
      transition: 0.3s;
      font-size: 16px;
    }
  }
  label {
    font-family: 'Playfair Display', serif;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    pointer-events: none;
    transition: 0.3s;
    // background: inherit;
    font-style: italic;
  }
}
